<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Введите данные</h1>
<form action="/reg-user" name="registerForm" method="post">
    <label>Login</label></br>
    <input type="text" name="userLogin" required/></br></br>
    <label>Mail</label></br>
    <input type="email" name="userMail" required/></br></br>
    <label>Password</label></br>
    <input type="text" name="userPass" required/></br></br>
    <button type="submit" id="submit">Отправить</button>
</form>
<script>

</script>

</body>
</html>