{{> header}}
<body>
<h1>Login</h1>
<form action="/sign-in" name="registerForm" method="post">
    <label>Login</label></br>
    <input type="text" name="userLogin" required/></br></br>

    <label>Password</label></br>
    <input type="text" name="userPass" required/></br></br>
    <button type="submit" id="submit">Войти</button>
</form>


</body>

{{> footer}}
